@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(28, 28, 77);
    color: white;
}

header{
    text-align: center;
}

div{
    text-align: center;
    padding: 20px;
}

input{
    
    padding: 3px;
    border-radius: 7px;
    border: 3px solid black;
}

.botao{
    width: 100%;
    position: relative;
    margin-top: 10px;
    max-width: 100px;
}

#cc{
    position: absolute;
    top: 16%;
    left: 20%;
    right: 20%;
    
}



